#
# $ Copyright Open Broadcom $
# Copyright (c) 2023, NVIDIA CORPORATION.  All rights reserved.
#
# <<Broadcom-WL-IPTag/Open:>>
#

config AHD
	tristate "Broadcom FullMAC wireless cards support"
	help
	  This module adds support for wireless adapters based on
	  Broadcom FullMAC chipset.

	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config AHD_SDIO
	bool "SDIO bus interface support"
	depends on AHD && MMC

config AHD_PCIE
	bool "PCIe bus interface support"
	depends on AHD && PCI && !AHD_SDIO
	default y

config BCM4354
	tristate "BCM4354 support"
	depends on AHD

config BCM4356
	tristate "BCM4356 support"
	depends on AHD
	default n

config BCM4358
	tristate "BCM4358 support"
	depends on AHD
	default n

config BCM4359
	bool "BCM4359 support"
	depends on AHD
	default y

config BCM4361
	tristate "BCM4361 support"
	depends on AHD
	default n

config CYW89570
	tristate "CYW89570 support"
	depends on AHD
	default y

config DHD_OF_SUPPORT
	bool "Use in-drive platform device"
	depends on AHD
	default n

config ANDROID12
	bool "Android12 support"
	depends on AHD
	default y

config BCMDHD_FW_PATH
	depends on AHD
	string "Firmware path"
	default "/firmware/bcm54591.bin"
	help
	  Path to the firmware file.

config BCMDHD_NVRAM_PATH
	depends on AHD
	string "NVRAM path"
	default "/firmware/bcm54591.txt"
	help
	  Path to the calibration file.

config BROADCOM_WIFI_RESERVED_MEM
	bool "BROADCOM Reserved memory for wifi device"
	depends on AHD
	help
	  This is a configuration for Broadcom WLAN driver.

config AHD_WEXT
	bool "Enable WEXT support"
	depends on AHD && CFG80211 = n
	select WIRELESS_EXT
	select WEXT_PRIV
	help
	  Enables WEXT support

config DHD_USE_STATIC_BUF
	bool "Enable memory preallocation"
	depends on AHD
	default n
	help
	  Use memory preallocated in platform

config DHD_USE_SCHED_SCAN
	bool "Use CFG80211 sched scan"
	depends on AHD && CFG80211
	default n
	help
	  Use CFG80211 sched scan

config DHD_SET_RANDOM_MAC_VAL
	hex "Vendor OUI"
	depends on AHD
	default 0x001A11
	help
	  Set vendor OUI for SoftAP

config WLAN_REGION_CODE
	int "---Region codes for Broadcom WiFi Driver"
	depends on AHD
	default 100
	help
		This is a region code for Broadcom Wi-Fi featured functions.
		- 100 : EUR OPEN
		- 101 : EUR ORG
		- 200 : KOR OPEN
		- 201 : KOR SKT
		- 202 : KOR KTT
		- 203 : KOR LGT
		- 300 : CHN OPEN

config WLAIBSS
	bool "Advanced IBSS mode"
	depends on (BCM4335 || BCM4339 || BCM4354 || BCM4358 || BCM4359 || BCM4361)
	default y
	help
	  This is a configuration for Oxygen Network.

config WL_RELMCAST
	bool "Reliable Multicast Support"
	depends on (BCM4335 || BCM4339 || BCM4354 || BCM4358 || BCM4359 || BCM4361)
	default y
	help
	  This is a configuration for RMC.

config WL_NAN
	bool "NAN Feature"
	depends on AHD
	default n
	help
	  This is a configuration for NAN Feature.

config WL_AP_IF
	bool "Create additional AP interface during intialization"
	default n
	help
	  Create additional AP interface during initialization.

config AHD_PREALLOC_PKTIDMAP
	bool "BROADCOM PCIE specific memory reserved for PKTIDMAP"
	depends on BROADCOM_WIFI_RESERVED_MEM && AHD_PCIE
	help
	  Preallocated memory support for PCIE interface in Broadcom
	  WLAN driver.

config AHD_PREALLOC_MEMDUMP
	bool "BROADCOM PCIE specific memory reserved for MEMDUMP"
	depends on BROADCOM_WIFI_RESERVED_MEM
	help
	  Preallocated memory support for dongle memory dump

config AHD_OOB_HOST_WAKE
        bool "Use the external WLAN_HOST_WAKE pin"
        depends on AHD
        help
          Use the external GPIO pin to wake up host

config AHD_GET_OOB_STATE
        bool "Support WLAN_HOST_WAKE pin level information"
        depends on AHD_OOB_HOST_WAKE
        default y
        help
          Support WLAN_HOST_WAKE pin level information

config AHD_WPA3
	bool "Support WPA3 feature"
	depends on AHD
	default n
	help
	  This will enable WPA3 support
